<div class="row" *ngIf="proyecto">
    <div class="contenedor">
        <div class="separador">
            <div>
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombre">Nombre del proyecto </label>
                        <input type="text" class="form-control name-p" id="nombre" name="nombre" [(ngModel)]="proyecto.nombre" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="descripcion">Descripción del proyecto </label>
                        <textarea class="form-control des-p" id="descripcion" name="descripcion" [(ngModel)]="proyecto.descripcion" required></textarea>
                    </div>
                    <br>
                    <button class="btn btn-dark">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>