<div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 518.34,81.42 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: #1d1d1d;"></path>
  </svg></div>
<div class="row">
  <div class="contenedor">
    <h1>Proyectos</h1>
    <div class="col-lg-2">
      <button type="button" class="btn btn-dark" routerLink="/nuevopro" *ngIf="isLogged">Nuevo Proyecto</button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <table class="table">
        <tbody>
          <tr *ngFor="let Proyecto of pro">
            <td>
              <h3>{{Proyecto.nombre}}</h3>
            </td>
            <td>{{Proyecto.descripcion}}</td>
            <td *ngIf="isLogged"> <button class="btn btn-warning" routerLink="/editpro/{{Proyecto.id}}">
                <i class="bi bi-pencil-fill"></i></button></td>
            <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Proyecto.id)">
                <i class="bi bi-file-earmark-x-fill"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>