*{
    color: #FFFFFF;
}

.wave{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

svg{
    background-color: #4f95b3;
}

.row{
    padding: 4px 25px 20px;
    background-color: #1D1D1D ;
    margin: 0px;
}

.contenedor{
    padding:25px 12px;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
    padding: 0px 0px 0px 32px;
}

h1{
    color: rgb(46, 245, 39);
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

h3{
    margin: 0px;
}