.row{
    padding: 4px 25px;
}

div{
    background-color: #1d1d1d;
    color: #FFFFFF;
}

h1{
    padding: 15px 0px 0px;
    margin:0px;
    color:rgb(46, 245, 39);
}

p{
 color:#FFFFFF;
}

h3{
    display: inline;
}