<div class="row">
    <div class="contenedor">
    <h1>Educación</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h3>Estudios Universitarios</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni natus officiis est iure quod recusandae accusamus veniam sapiente perferendis consequatur necessitatibus quo ullam, dolor, aliquid voluptates tempora hic inventore neque!</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Estudios Secundarios</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni natus officiis est iure quod recusandae accusamus veniam sapiente perferendis consequatur necessitatibus quo ullam, dolor, aliquid voluptates tempora hic inventore neque!</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Estudios extras</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni natus officiis est iure quod recusandae accusamus veniam sapiente perferendis consequatur necessitatibus quo ullam, dolor, aliquid voluptates tempora hic inventore neque!</p>
            </li>
        </ul>
    </div>
    </div>
</div>