.row{
    padding: 4px 25px;
    margin: 0px;
}

div{
    background-color: #4f95b3;
    color: #000;
}

.contenedor{
    padding:0px 12px 10px 12px;
   }

h1{
    padding: 0px 0px 16px 0px;
    margin:0px;
    color: rgb(7, 209, 0);
    font-style: oblique;
    font-weight: bold;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

p{
 color:#000;
}

h3{
    display: inline;
}

ul{
    list-style: none;
}