<div class="row">
    <h1>Experiencia</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Primer trabajo</h1> -
                <h3>(años)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni natus officiis est iure quod recusandae accusamus veniam sapiente perferendis consequatur necessitatibus quo ullam, dolor, aliquid voluptates tempora hic inventore neque!</p>
        </ul>
        <ul>
            <li>
                <h1>Segundo trabajo</h1> -
                <h3>(años)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni natus officiis est iure quod recusandae accusamus veniam sapiente perferendis consequatur necessitatibus quo ullam, dolor, aliquid voluptates tempora hic inventore neque!</p>
        </ul>
        <ul>
            <li>
                <h1>Tercer trabajo</h1> -
                <h3>(años)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni natus officiis est iure quod recusandae accusamus veniam sapiente perferendis consequatur necessitatibus quo ullam, dolor, aliquid voluptates tempora hic inventore neque!</p>
        </ul>
    </div>
</div>