.row{
    padding: 4px 25px;
}

div{
    background-color: #1d1d1d;
    color: beige;
}

.contenedor{
    padding:25px 12px 0px 12px;
}

h1{
    padding: 0px 0px 16px 0px;
    margin:0px;
    color: rgb(46, 245, 39);
}

p{
    color:#FFFFFF;
}
   
h3{
    display: inline;
}
   
ul{
    list-style: none;
}
