<div class="row">
 <h1>Hard & Soft Skills</h1>
  <div class="col-lg-2">
    <button type="button" class="btn btn-dark" routerLink="/nuevahys" *ngIf="isLogged"
      >Nueva habilidad</button>
  </div>    
    <div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let hys of hys">
      <td *ngIf="isLogged"> <button class="btn btn-warning" routerLink="/edithys/{{hys.id}}">
        <i class="bi bi-pencil-fill"></i></button></td>
      <td *ngIf="isLogged"><button class="btn btn-danger" (click)="deleteHys(hys.id)">
        <i class="bi bi-file-earmark-x-fill"></i></button></td>
      <circle-progress
      [percent]="(hys.porcentaje)"
      [imageSrc]="''"
      [title]="(hys.nombre)"
      [titleColor]="'#000000'"
      [showTitle]="true"
      [showImage]="false"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700">
    </circle-progress>
  </div>
</div>
