<div class="row">
 <h1>Hard & Soft Skills</h1>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="85"
     [imageSrc]="'../assets/iconohtml.png'"
     [showImage]="true"
     [imageHeight]="90"
     [imageWidth]="90"
     [showUnits]="false"
     [showSubtitle]="false"
     [radius]="100"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="2"
     [outerStrokeColor]="'#78C000'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="75"
     [imageSrc]="'../assets/iconoCSS.png '"
     [showImage]="true"
     [imageHeight]="90"
     [imageWidth]="90"
     [showUnits]="false"
     [showSubtitle]="false"
     [radius]="100"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="2"
     [outerStrokeColor]="'#78C000'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="50"
     [imageSrc]="'../assets/iconojs.png '"
     [showImage]="true"
     [imageHeight]="90"
     [imageWidth]="90"
     [showUnits]="false"
     [showSubtitle]="false"
     [radius]="100"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="2"
     [outerStrokeColor]="'#78C000'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="50"
     [imageSrc]="'../assets/iconoAngular.png '"
     [showImage]="true"
     [imageHeight]="90"
     [imageWidth]="90"
     [showUnits]="false"
     [showSubtitle]="false"
     [radius]="100"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="2"
     [outerStrokeColor]="'#78C000'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="50"
     [imageSrc]="'../assets/iconogit.png '"
     [showImage]="true"
     [imageHeight]="70"
     [imageWidth]="70"
     [showUnits]="false"
     [showSubtitle]="false"
     [radius]="100"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="2"
     [outerStrokeColor]="'#78C000'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="60"
     [imageSrc]="'../assets/iconoNodeJs.png '"
     [showImage]="true"
     [imageHeight]="90"
     [imageWidth]="100"
     [showUnits]="false"
     [showSubtitle]="false"
     [radius]="100"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="2"
     [outerStrokeColor]="'#78C000'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="30"
     [imageSrc]="'../assets/iconotp.png '"
     [showImage]="true"
     [imageHeight]="80"
     [imageWidth]="80"
     [showUnits]="false"
     [showSubtitle]="false"
     [radius]="100"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="2"
     [outerStrokeColor]="'#78C000'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="50"
     [imageSrc]="'../assets/iconoBoostrap.png '"
     [showImage]="true"
     [imageHeight]="80"
     [imageWidth]="80"
     [showUnits]="false"
     [showSubtitle]="false"
     [radius]="100"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="2"
     [outerStrokeColor]="'#78C000'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="60"
     [imageSrc]="'../assets/iconoMysql.png '"
     [showImage]="true"
     [imageHeight]="90"
     [imageWidth]="90"
     [showUnits]="false"
     [showSubtitle]="false"
     [radius]="100"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="2"
     [outerStrokeColor]="'#78C000'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="700">
    </circle-progress>
  </div>
</div>
