.row{
    background-color: #4f95b3;
    text-align: center;
    margin: 0px;
}

h1{
    color: rgb(7, 209, 0);
    font-style: oblique;
    font-weight: bold;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}