<div class="row">
    <div class="contenedor">
        <div class="separador">
            <div>
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombre">Nombre de la habilidad </label>
                        <input type="text" class="form-control name-h" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                    </div>
                        <br>
                    <div class="form-group">
                        <label for="porcentaje">Porcentaje de la habilidad</label>
                        <input type="text" class="form-control prog" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                    </div>
                        <br>
                    <button class="btn btn-dark">Agregar habilidad</button>
                </form>
            </div>
        </div>
    </div>
</div>