*{
    color: #A8A8A8;
}

.row{
    padding: 4px 25px;
    position: relative;
    margin: 0px;
}

h1{
 padding: 15px 0px 0px;
 margin:0px;
 color:rgb(46, 245, 39);
}

div{
    background-color: #1d1d1d;
}

.contenedor{
    border-radius: 25px;
    border: 1px solid rgb(67, 228, 61);
}

.wave{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
