<div class="row">
    <div class="contenedor">
       <img src="../../../assets/banner.jpg"><h1>My Portfolio</h1><div class="portfolio"></div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/perfil.jpg" class="img-fluid" id="foto__de_usuario">
        </div> 
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p>Full Stack Developer Jr</p>
        </div>
    </div>
</div>