img{
    width: 100%;
    height: 550px;
    padding: 0px;
}

.row{
    padding-bottom:15px;
}

.contenedor{
    padding: 0px;
    text-align: center;
}

/* Banner del usuario */

h1{
    user-select: none;
    position: relative;
    color: #fff;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    font-size: 80px;
    top:-310px;
}

@media (max-width:490px){
 h1{
  display: none;
 }
}

/* Nombre del usuario*/


.col-xs-12{
    padding-left: 12px;
    text-align: initial;
    margin-top: -45px;
}

.col-sm-6{
    padding-left: 12px;
    text-align: initial;
    margin-top: -45px;
}

.col-md-4{
    padding-left: 12px;
    text-align: initial;
    margin-top: -45px;
}

.col-lg-3{
    padding-left: 12px;
    text-align: initial;
    margin-top: -45px;
}

p{
    color:#fff;
    display: inline-block;
}

#nombre{
    font-size: 25px;
}

/* Foto del usuario*/


@media (max-width:1025px){
#foto__de_usuario {
 position:absolute;
 width: 150px;
 height: 150px;
 border-radius: 50%;
 left: 2%;
 top: 520px;
 box-shadow: 4px 2px 2px rgb(3, 0, 15);
 }
}

@media (min-width:725px){
#foto__de_usuario {
 position:absolute;
 width: 150px;
 height: 150px;
 border-radius: 50%;
 left: 2%;
 top: 520px;
 box-shadow: 4px 2px 2px rgb(3, 0, 15);
 }
}    

@media (max-width: 724px){
#foto__de_usuario {
 position:absolute;
 width: 150px;
 height: 150px;
 border-radius: 50%;
 left: 3%;
 top: 520px;
 box-shadow: 4px 2px 2px rgb(3, 0, 15);
 }
}

@media (min-width:400px){
#foto__de_usuario {
 position:absolute;
 width: 150px;
 height: 150px;
 left: 6%;
 top: 520px;
 border-radius: 50%;
 box-shadow: 4px 2px 2px rgb(3, 0, 15);
 }
}