*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(5,2,73);
    background: linear-gradient(90deg, rgba(5, 2, 73,1) 8%,
     rgba(9, 103, 121,1) 41%, rgba(0, 212, 255,1) 96%);
}

.separador{
    height: 200px;
    width: 500px;
}

.separador .form-control.name-p{
    width: 200px;
}

.separador .form-control.ape-p{
    width: 200px;
}

.separador .form-control.des-p{
    min-width: 350px;
    max-width: 350px;
    min-height: 125px;
    max-height: 125px;
}

.form-group label{
    color: rgb(11, 14, 17);
    font-weight: 600;
    text-decoration: none;
    user-select: none;
}

form{
    position: absolute;
    top: 70px;
    width: 80vh;
    background: transparent;
    border: 2px solid rgba(12, 12, 12, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.btn{
    width: 200px;
    height: 45px;
    background-color: rgb(11, 14, 17);
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    color: #00ff72;
    font-weight: 500;
}