*{
    color: beige;
}

.row{
    padding:15px;
}

div{
    background-color:rgb(23, 0, 175);
    text-align: center;
}

/* Nombre del usuario*/
#nombre{
    margin-top:20%;
    font-weight: bold;
}

/* foto del usuario*/
@media (min-width:576px){
#foto__de_usuario {
 position:absolute;
 width: 15%;
 left: 2%;
 top:475px;
 border-radius: 50%;
 box-shadow: 4px 2px 2px rgb(3, 50, 136);
 }
}

@media (max-width:575px){
    #foto__de_usuario {
     position:absolute;
     width: 25%;
     left: 2%;
     top:545px;
     border-radius: 50%;
     box-shadow: 4px 2px 2px rgb(3, 50, 136);
    }
}