<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfiltemporal.png" class="img-fluid" id="foto__de_usuario">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
        <p  id="nombre">Podorozni, Juan Elías</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id similique ducimus consequatur aliquid perferendis eius aliquam culpa, ratione consequuntur, eaque ullam inventore provident reprehenderit corrupti unde, nihil illum nisi. Nobis.</p>
        </span>
    </div>
</div>