*{
    color: #FFFFFF;
}

.row{
    padding: 4px 25px 20px;
    background-color: #1D1D1D ;
}

h1{
    color: rgb(46, 245, 39);
}

.extensor{
 padding: 1px 25px;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}