<div class="row" *ngIf="educacion">
    <div class="contenedor">
        <div class="separador">
            <div>
                <form (ngSubmit)="onUpdateEdu()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombreEd">Nombre de la educación </label>
                        <input type="text" class="form-control name-e" id="nombreEd" name="nombreEd" [(ngModel)]="educacion.nombreEd" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="descripcionEd">Descripción de la educación </label>
                        <textarea class="form-control des-e" id="descripcionEd" name="descripcionEd" [(ngModel)]="educacion.descripcionEd" required></textarea>
                    </div>
                    <br>
                    <button class="btn btn-dark">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>