<div class="contenedor">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreateEdu()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEd">Nombre de la educación </label>
                        <input type="text" class="form-control" id="nombreEd" name="nombreEd" [(ngModel)]="nombreEd" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEd">Descripción de la educación </label>
                    <input type="text" class="form-control" id="descripcionEd" name="descripcionEd" [(ngModel)]="descripcionEd" required>
                </div>
                <button class="btn btn-dark">Agregar Educación</button>
            </form>
        </div>
    </div>
</div>