<div class="row" *ngIf="explaboral">
    <div class="contenedor">
        <div class="separador">
            <div>
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombreE">Nombre de la experiencia </label>
                        <input type="text" class="form-control name-e" id="nombreE" name="nombreE" [(ngModel)]="explaboral.nombreE" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="descripcionE">Descripción de la experiencia </label>
                        <textarea class="form-control des-e" id="descripcionE" name="descripcionE" [(ngModel)]="explaboral.descripcionE" required></textarea>
                    </div>
                    <br>
                    <button class="btn btn-dark">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>